html {
    overflow-x: hidden !important;
}
body {
    padding: 0;
    margin: 0;
    overflow-x: hidden !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    line-height: 26px;
    -webkit-text-size-adjust: none;
}
:root {
    --mr-1 : 0.25rem;
    --mr-2 : 0.5rem;
    --mr-3 : 1.5rem;
    --pl-3 : 1rem;
    --pr-5 : 3rem;
    --box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.322);
    --border-left: 1px solid #ccc;
}
body a:hover,
body :focus-visible
 {
    text-decoration: none;
    outline: none !important;
}
body.pageDetail {
    position: relative;
  /* Set "my-sec-counter" to 0 */
  counter-reset: my-sec-counter;
}
.number::before {
  /* Increment: "my-sec-counter" by 1; */
  counter-increment: my-sec-counter;
  content: "" counter(my-sec-counter) ".";
}
/*  */
input:hover,
input:focus {
    outline: none !important;
}
:hover,
.title-sm,
.title-sm:before,
button,
button:hover,
a,
a:hover,
#header,
#header.menu_fixed,
.read-more i,
.read-more:hover i,
.col-overlay,
.read-more-lg,
.read-more-lg i,
.label-select,
.form-group.active-tab .label-select,
body .-trans,
.fig-overlay:hover:before,
.fig-caption,
.top-txt,
.img-zoom,
.innerPage #header,
.innerPage #header.menu_fixed,
.owl-theme.owl-carousel .owl-dots .owl-dot,
.owl-theme.owl-carousel .owl-dots .owl-dot span,
#sticky_menu.menu_fixed,
.innerPage #header,
.innerPage #header.menu_fixed,
#banner,
#banner .img-block,
#sticky_sidebar,
#sticky_sidebar.is-affixed {
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
/* lang dropdown */
.lang-block-white {
    color: #fff;
}
.lang-block-white #langLabel {
    color: #fff;
}
.lang-block-dark {
    color: #000;
}
.lang-block-dark #langLabel {
    color: #000;
}
#langLabel {
    min-width: 75px;
    height: 32px;
    border-radius: 4px;
    background-color: transparent;
    border: none;
    text-align: left;
    padding: 0 15px;
    letter-spacing: 0.7px;
    margin-top:0;
  }
  .lang-block .dropdown-menu.lang-drop {
      margin-top: 22px;
      min-width: 6rem;
      
  }
  .lang-block .dropdown-menu:first-of-type {
      border-top: none;
  }
   .caret {
      float: right;
      margin-top: 9px;
      display: block;
  }
  .dropdown-lang {
    min-width: auto;
    padding: 0;
    margin: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .dropdown.dropdown-lang button:hover, .dropdown.dropdown-lang button:focus {
    border: none;
    outline: 0;
  }
  .dropdown.dropdown-lang.open button#dLabel {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.23);
    border: solid 1px #666;
    border-bottom: none;
  }
  .dropdown.dropdown-lang.open ul {
     box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.23);
    border: solid 1px #666;
    border-top: none;
    height: 200px;
    overflow-y: scroll;
  }
  .dropdown.dropdown-lang .dropdown-menu li {
  line-height: 1.5;
    letter-spacing: 0.7px;
    color: #666;
      font-size: 14px;
    cursor: pointer;
    padding: 7.5px 15px;
    border-top: solid 1px #f3f3f3;
  }
  .dropdown-lang .dropdown-menu li:hover {
    background-color: #ccc;
  }
  .select-drop.select-lang {
    background-size: 15px !important;
    background-repeat: no-repeat;
    background-position: 52px 8px;
    background-image: url(/images/arrow_down_light.png);
  }
  /* lang dropdown */
.gray_bg {
    background-color: #c1c8c0;
}
/* 20/11/2020 */
body::-webkit-scrollbar {
    width: 0.5em;
}
body::-webkit-scrollbar-track {
    border-radius: 5px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
body::-webkit-scrollbar-thumb {
    background-color: #c1c8c0;
    outline: none;
    border-radius: 5px;
}
#header {
    position: absolute;
    width: 100%;
    left: 0;
    top: 30px;
    z-index: 999;
    background: transparent;
}
#header.menu_fixed {
    top: 0;
    z-index: 1056;
    position: absolute;
    background: rgb(0 0 0 / 60%);
}
#header .navbar-brand {
    max-width: 80px;
}
.stellarnav .menu-toggle {
    position: absolute;
    right: 0;
    top: 25px;
    width: 30px;
    padding: 0 !important;
    height: 18px;
    margin: 0 auto;
}
.navbar-nav .nav-link {
    font-family: "IBM Plex Sans", sans-serif !important;
}
.img-full {
    width: 100%;
}
.scrollTop {
    position: fixed;
    right: 15px;
    bottom: 40px;
    display: none;
    z-index: 999;
    border-radius: 50px;
    cursor: pointer;
}
.scrollTop a {
    color: #fff;
}
#header .navbar-expand-lg .navbar-collapse {
    display: block !important;
}
.cartbtn small {
    position: absolute;
    right: 12px;
    top: -2px;
    width: 6px;
    text-align: center;
    height: 6px;
    line-height: 17px;
    
}
.cartbx .dropdown-toggle::after {
    display: none;
}
/* 20/11/2020 */
/* 23/11/2020 */
.mid-sec {
    position: absolute;
    top: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%); */
}
.mid-sec .modal {
    z-index: 1056;
}
.mid-sec .modal .btn-close {
    font-size: 22px;
}
.text-bold {
    font-weight: bold !important;
}
.vh-100 {
    height: 100vh;
}
.rounded-10 {
    border-radius: 10px;
}
.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}
.web-d-none {
    display: none;
}
.web-d-block {
    display: block;
}

.navbar-nav .nav-item {
    position: relative;
    margin-right: 30px;
}
/* .navbar-nav .nav-item:last-of-type {
    margin-right: 0;
} */
.navbar-nav .nav-item.active .nav-link:after {
    position: absolute;
    content: "";
    height: 1px;
    width: 100%;
    bottom: 0;
    left: 0;
}
#header .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 3px;
    font-weight: 600;
}
/* 23/11/2020 */
/* 12/11/2020 */
#carouselExampleIndicators .carousel-indicators {
    left: auto;
    margin-bottom: 3rem;
}
#carouselExampleIndicators .carousel-indicators [data-bs-target] {
    position: relative;
    min-width: 100%;
    height: 2px;
    border: none;
    text-indent: 0;
    border-radius: 5px;
    background: #c1c8c0;
}
.carousel-indicators [data-bs-target] span {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    border-radius: inherit;
}
.carousel-indicators [data-bs-target] small {
    position: absolute;
    right: 0;
    left: 0;
    color: #fff;
    top: 0;
    padding-top: 8px;
    margin: 0 auto;
}
.video-block video {
    height: 100%;
    object-fit: cover;
}
body .modal-backdrop {
    z-index:-1;

}
.form-search .form-control {
    border-top: none;
    border-right: none;
    border-left: none;
    border-radius: 0;
}
.form-search .form-control:focus {
    box-shadow: none;
}
.close {
    float: right;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: 0.5;
}
.cartbx .dropdown-menu {
    right: 0;
}
.cartbx.dropdown {
    position: relative;
}
.cartbx.dropdown .nav-link {
    padding-top: 0;
    padding-bottom: 0;
    font-size: 20px;
}
.cartbx.dropdown:after {
    content: "";
    background: #c1c8c0;
    top: 8px;
    right: 0;
    height: 15px;
    width: 1px;
    position: absolute;
}
.font-normal {
    font-style: normal;
}
body .form-control:focus,
body .btn-check:focus + .btn,
body .btn:focus,
body :focus {
    box-shadow: none;
}
.searchBtn span i {
    top: 0;
    left: 0;
    position: absolute;
    transform: rotate(280deg);
}
.searchBtn span {
    padding-left: 22px;
}
/* .floating-btn {
    bottom: 30px;
    left: 80px;
    z-index: 99;
    border: 1px solid #c1c8c0;
    position: absolute;
    height: 42px;
    width: 42px;
    color: #fff;
    text-align: center;
    border-radius: 50%;
} */
.video-block .carousel-item {
    height: 860px;
}
.head-span1 {
    padding-left: 65px;
}
.head-span1:before {
    content: "";
    left: 0;
    top: 22px;
    height: 1px;
    width: 60px;
    position: absolute;
    background: #c1c8c0;
}
.head-span2:before {
    left: 0;
}
.head-span2:after {
    right: 0;
}
.head-span2:before,
.head-span2:after {
    content: "";
    top: 22px;
    height: 43px;
    width: 1px;
    position: absolute;
    background: #c1c8c0;
}
.head-span.head-span3 a {
    color: #fff;
}
.head-span.result_hover a,
.head-span.head-span3.result_hover a {
    color: #f1c40f;
}
.text-grey {
    color: #c1c8c0;
}
.video-block .desc {
    position: absolute;
    right: 80px;
    bottom: 100px;
    z-index: 9;
    max-width: 420px;
}
.underline-0 {
    text-decoration: none;
}
.read-more {
    display: inline-block;
    position: relative;
    padding-right: 28px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 11px;
    border-radius: 30px
}
.read-more i {
    position: absolute;
    top: 10px;
    right: 8px;
}
.read-more:hover i {
    right: 6px;
}
.read-more-lg {
    position: relative;
    padding-right: 0;
}
.read-more-lg i {
    position: relative;
    top: 10;
    right: 0;
}
.read-more-lg:hover i {
    right: 5px;
}
/* essential */
.text-black {
    color: #000 !important;
}
.head-desc {
    padding-bottom: 90px;
}
.head-desc:after {
    position: absolute;
    content: "";
    bottom: 85px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 35%;
    height: 1px;
    display: none;
}
.section-block {
    padding-top: 90px;
    padding-bottom: 90px;
}
#block-essential {
    padding-bottom: 45px;
}
.reg-slide-block .owl-carousel.owl-theme .owl-nav button.owl-prev {
    background: #f4f4f6 url(/images/arrow-prev.svg) no-repeat 0 0;
    right: 80px;
}
.reg-slide-block .owl-carousel.owl-theme .owl-nav button.owl-prev:hover {
    background: #f4f4f6 url(/images/arrow-prev-hover.svg) no-repeat 0 0 !important;
}
.reg-slide-block .owl-carousel.owl-theme .owl-nav button.owl-next {
    background: #f4f4f6 url(/images/arrow-next.svg) no-repeat 0 0;
    right: 0;
}
.reg-slide-block .owl-carousel.owl-theme  .owl-nav button.owl-next:hover {
    background: #f4f4f6 url(/images/arrow-next-hover.svg) no-repeat 0 0 !important;
}
.reg-slide-block .owl-carousel.owl-theme .owl-nav button.owl-prev,
.reg-slide-block .owl-carousel.owl-theme .owl-nav button.owl-next {
    position: absolute;
    bottom: 0;
    width: 80px;
    text-indent: -9999px;
    height: 80px;
    opacity: 0.9 !important;
    margin: 0 !important;
    padding: 0 !important;
    border-radius: 0 !important;
}
.reg-slide-block .owl-carousel.owl-theme .owl-nav button:hover {
    opacity: 1 !important;
}
.desc-esntl {
    position: absolute;
    padding: 60px;
    bottom: 0;
}
.col-overlay:hover {
    background: rgba(0, 0, 0, 0.253);
}
.section-block .owl-theme .owl-dots {
    position: absolute;
    top: -60px;
    left: 0;
    right: 0;
}
.section-block .owl-theme .owl-dots button.owl-dot span {
    background: #7f7f7f !important;
    width: 6px;
    height: 6px;
    border-radius: 6px;
}
.section-block .owl-theme .owl-dots button.owl-dot.active span {
    width: 22px;
    height: 6px;
    border-radius: 30px;
}
/* essential end */
/* trip-plan */

.block_nav_pills .nav-pills .nav-link.active,
.block_nav_pills .nav-pills .nav-link.show {
    background: none;
    position: relative;
    color: #000;
}
.block_nav_pills .nav-pills .nav-link.active:after,
.block_nav_pills .nav-pills .nav-link.show:after {
    content: "";
    height: 4px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
}
#block-weather .nav-pills .nav-item {
    float: left;
    margin: 0 auto;
    width: 33.333%;
    text-align: center;
}
.block_nav_pills .nav-pills .nav-link {
    border-radius: 0;
    margin: 0 auto;
    padding: 0 0 18px;
    color: #a4a4a4;
}

#block-weather.section-block {
    padding-top: 40px;
}
/* select */
.select-down,
.select-drop {
    border: none;
    padding: 2px 10px;
    -moz-appearance: window;
    -webkit-appearance: none;
    background-repeat: no-repeat;
    
    background-image: url("/images/arrow_down.png");
}
.select-down {
    background-size: 12px !important;
    background-position: 34px 13px;
}
.select-drop {
    background-size: 22px !important;
    background-position: right center;
}
@-moz-document url-prefix() {
    #dropdown {
        margin-right: -30px;
    }
    .css-select-moz {
        background-image: url("/images/arrow_down.png");
        background-repeat: no-repeat;
        background-position: right center;
        padding-right: 30px;
        background-size: 22px !important;
    }
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: #bbbfc4;
    font-size: 1.1em;
}

.select-drop {
    position: relative;
}
/* .select-drop:after {
    font-family: 'Line Awesome Free';
    content: "\f063";
    font-size: 2em;
    color: #2c3845;
    vertical-align: middle;
    padding: 8px;
    position: absolute;
    right: 15px;
    top: 0;
    bottom: 10px;
    z-index: 1;
    pointer-events: none;
} */
/* select-drop */
#banner .img-block {
    height: 100vh;
}
.img-block .desc {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 50px;
}
.tab-content .img-block:hover:before {
    position: absolute;
    left: 0;
    top: 0;
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.411);
    
}
.font-28 {
    font-size: 28px;
}
.ibm-font-28 {
    font-size: 28px;
}
.ibm-font-40 {
    font-size: 40px;
}
.weather-fixed .desc-top {
    padding-top: 80px;
    padding-bottom: 40px;
    margin-bottom: 40px;
}
.desc-top:after {
    position: absolute;
    height: 1px;
    width: 70%;
    bottom: 0;
    left: 0;
    margin: 0 auto;
    right: 0;
    content: "";
    background: #c1c8c0;
}
.form-custom .form-group .label-select {
    font-size: 12px;
}
.form-custom .form-group.active-tab .label-select {
    font-size: 10px;
}
.form-custom .form-group .form-control {
    border-right: none;
    border-top: none;
    border-left: none;
    border-radius: 0;
    padding: 0.375rem 0;
    font-size: 18px;
}
.form-group .label-select {
    color: #7f7f7f;
}
.form-group-top {
    margin-bottom: 60px;
}
.form-custom .form-control:focus,
.form-custom .form-control {
    background-color: transparent;
}
.form-sec {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    padding: 50px;
    transform: translate(-50%, -50%);
}
.font-14 {
    font-size: 16px;
}
.btn.btn-submit {
    height: 44px;
    padding-right: 44px;
    padding-left: 44px;
}
.btn-hover:hover {
    box-shadow: 0px 0px 0px 2.5px #fff,
    0px 0px 0px 5px #f1c40f,
    0px 0px 0px 10px white,
    0px 0px 0px 10.5px #f1c40f;
    background: white;
    color: #f1c40f;
}
.descwrap .btn-hover:hover {
    box-shadow: 0px 0px 0px 2.5px rgba(0, 0, 0, 0.39),
    0px 0px 0px 5px rgba(0, 0, 0, 0.49),
    0px 0px 0px 10px rgba(0, 0, 0, 0.678),
    0px 0px 0px 10.5px rgba(0, 0, 0, 0.39);
    background: #000;
   
}
/* select */
/* progress-bar */

/* progress-bar */
/* carouselStories */
#carouselStories {
    background: url('/images/storyBg1.jpg') no-repeat;
    padding: 250px 0;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
}
#carouselStories .post-slide .desc {
    position: relative;
    margin: 0 auto;
}
.container.custom-wrap {
    max-width: 767px;
}
.owl-theme.owl-carousel.carousel-mirror .owl-nav button.owl-prev,
.owl-theme.owl-carousel.carousel-mirror .owl-nav button.owl-next {
    margin: 0 6px; 
    padding: 0;
    width: 40px; 
    height: 40px; 
    border-radius: 40px; 
    text-indent: -9999px; 
    /* border: 1px solid #ffcb0d;  */
}
.owl-theme.owl-carousel.carousel-mirror .owl-nav button.owl-prev {
    background: url(/images/arrow-sm-prev.svg) no-repeat 0 0;
}
.owl-theme.owl-carousel.carousel-mirror .owl-nav button.owl-prev:hover {
    background: url(/images/arrow-sm-prev-hover.svg) no-repeat 0 0;
}
.owl-theme.owl-carousel.carousel-mirror .owl-nav button.owl-next {
    background: url(/images/arrow-sm-next.svg) no-repeat 0 0;
}
.owl-theme.owl-carousel.carousel-mirror .owl-nav button.owl-next:hover {
    background: url(/images/arrow-sm-next-hover.svg) no-repeat 0 0;
}
.owl-theme.owl-carousel.carousel-mirror .owl-dots .owl-dot.active {
    height: 6px;
    width: 22px;
    border-radius: 30px;
}
.owl-theme.owl-carousel.carousel-mirror .owl-dots .owl-dot,
.owl-theme.owl-carousel .owl-dots .owl-dot {
    height: 6px;
    width: 6px;
    margin: 0 5px;
}
.owl-theme.owl-carousel.carousel-mirror .owl-dots .owl-dot.active,
.owl-theme.owl-carousel .owl-dots .owl-dot.active {
    height: 6px;
    width: 22px;
    border: none;
    margin: 0 5px;
    padding: 0;
    opacity: 1 !important;
    text-indent: -9999px;
}
.owl-theme.owl-carousel.carousel-mirror .owl-nav {
    padding-top: 0; 
    max-width: 120px; 
    margin: 0 auto; 
    position: absolute; 
    bottom: -68px; 
    right: 0; 
    left: 0;
}
.btn-block {
    position: absolute;
    bottom: 32px;
    right: 120px;
}
/* carouselStories end */
/* carouselMemories */
.flair-regular {
    font-weight: 500;
}
.ibm-font-26 {
    font-size: 26px;
}
.widget-last.mb-5 {
    margin-bottom: 0 !important;
}
/* carouselMemories */
#carouselDiscover .grid {
    position: relative;
}
#carouselDiscover .grid figure {
    margin-bottom: 28px
}
.item-widget {
    margin: 0;
}
.fig-caption {
    position: absolute;
    bottom: 62px;
    z-index: 99;
    width: 100%;
    padding: 30px 50px;
}
.fig-overlay {
    overflow: hidden;
}
.fig-overlay:hover .img-zoom {
    transform: scale(1.1);
}
.fig-overlay:hover .fig-caption {
    bottom: 80px;
}
/* overlay */
.fig-overlay .icon-fav {
    top: 30px;
    right: 30px;
}
.fig-overlay .icon-fav img,
.owl-carousel .fig-overlay .icon-fav img {
    width: 36px;
}
.fig-overlay .icon-map {
    right: 0;
    left: 0;
    top: 60px;
    z-index: 1;
    margin: 0 auto;
    text-align: center;
    max-width: 160px;
}
.fig-overlay .icon-map img {
    width: 160px;
}
.fig-overlay .btm-txt {
    bottom: 0;
    padding: 25px 50px;
}
.fig-overlay .top-txt {
    top: 30px;
    z-index: 2;
    position: absolute;
    padding: 25px 50px;
}
.fig-overlay:hover .top-txt {
    top: 40px;
}
.fig-overlay .btm-txt .link-btn {
    padding: 15px 0 0;
    border-top: 1px solid #7f7f7f;
}
.fig-overlay .btm-txt,
.fig-overlay .icon-map,
.fig-overlay .icon-fav {
    position: absolute;
    opacity: 0;
    z-index: 9;
    visibility: hidden;
}
.fig-overlay:hover .btm-txt,
.fig-overlay:hover .icon-map,
.fig-overlay:hover .icon-fav {
    visibility: visible;
    opacity: 1;
}
.fig-overlay:hover:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.637);
}

.custom-btn-block.btn-block {
    bottom: -58px;
    right: 15px;
}
#block-discover .custom-btn-block.btn-block {
    right: 25px;
}
/* hover-img-grid */
/* k-stories */
.profile-page {
    position: absolute;
    bottom: 0;
}
.card {
    background: #fff;
    margin-bottom: 30px;
    transition: .5s;
    border: 0;
    border-radius: .1875rem;
    display: inline-block;
    position: relative;
    width: 100%;
    box-shadow: none;
}
.card .card-body {
    font-size: 14px;
    color: #424242;
    padding: 20px;
    font-weight: 400;
}
.profile-page .profile-header {
    position: relative
}

.profile-page .profile-header .profile-image img {
    border-radius: 50%;
    width: 100%;
}
.profile-page .profile-header .social-icon a {
    margin: 0 5px
}

.profile-page .profile-sub-header {
    min-height: 60px;
    width: 100%
}

.profile-page .profile-sub-header ul.box-list {
    display: inline-table;
    table-layout: fixed;
    width: 100%;
    background: #eee
}

.profile-page .profile-sub-header ul.box-list li {
    border-right: 1px solid #e0e0e0;
    display: table-cell;
    list-style: none
}

.profile-page .profile-sub-header ul.box-list li:last-child {
    border-right: none
}

.profile-page .profile-sub-header ul.box-list li a {
    display: block;
    padding: 15px 0;
    color: #424242
}
.k-stories .desc {
    padding-top: 100px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 50px;
}
.k-stories .card-body {
    padding: 30px 80px;
}
.blogger-text {
    padding-top: 20px;
}
.bg-grey-light {
    background: #f3f3f3;
}
.modal.modal-story {
    width: 100%;
    position: absolute;
}
.modal.modal-story .modal-fullscreen {
    width: 100%;
}
.modal.modal-story .modal-fullscreen .modal-content {
    padding-right: 12px;
    border-bottom: 1px solid #eaeaea;
}   
.read-more.play-btn i {
    top: 5px;
}
.btn:focus-visible,
button:focus-visible {
    outline: none;
}
.modal-video iframe {
    width: 100%;
    object-fit: cover;
}
/* k-stories */
.pl-0 {
    padding-left: 0 !important;
}
.pr-0 {
    padding-right: 0 !important;
}
/*  */
.section-block-md {
    padding: 50px 0;
}
.share-widget-center {
    border-right: 1px solid #d8d8da;
    border-left: 1px solid #d8d8da;
}
.share-block {
    max-width: 991px;
}

.digit-wrapper {
    padding-right: 22px;
}
.digit-wrapper::after {
    content: "";
    position: absolute;
    right: 0;
    top: 16px;
    height: 60px;
    width: 1px;
    background: #ccc;
}
/*  */

/*  */
.reg-slide-block .desc-default {
    position: absolute;
    bottom: 0;
    left: 0;
    max-width: 567px;
    padding: 50px 80px;
    background: #fff;
}
#block-reg.reg-slide-block .owl-theme .owl-nav .owl-next {
    background: #f4f4f6 url(/images/arrow-next.svg) no-repeat 0 0;
    left: 567px;
    z-index: 9;
}
#block-reg.reg-slide-block .owl-theme .owl-nav .owl-prev {
    background: #f4f4f6 url(/images/arrow-prev.svg) no-repeat 0 0;
    left: 487px;
    z-index: 9;
}
.list-social li {
    margin: 0 5px;
    display: inline-block;
}
.list-social li a i {
    color: #222;
}
/*  */
/* social-wdget */
.social-wdget {
    position: relative;
}
.social-wdget .icon-social {
    position: absolute;
    right: 30px;
    top: 30px;
    height: 30px;
    width: 30px;
    line-height: 28px;
    text-align: center;
    border-radius: 30px;
    border: 1px solid #fff;
}
/* social-wdget */
/* .video-widget .icon-play img {

} */
.posCenter {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* video-wdget */
/* newsletter */
#footer {
    background: #050608;
    padding: 80px 0;
}
  .foot-menu li {
      display: inline-block;
      margin-bottom: 5px;
  }
  .foot-menu li a {
    position: relative;
    padding-right: 10px;
    color: #fff;
    margin-right: 5px;
  }
  .foot-menu li a:after {
    content: "";
    background: #ccc;
    height: 15px;
    width: 1px;
    right: 0;
    top: 4px;
    position: absolute;
  }
  .foot-menu li:last-child a:after {
    background: none;
  }
  .border-bottom.border-grey {
    border-bottom: 1px solid #484848 !important;
  }
  .foot-menu {
      max-width: 567px;
  }
  #quickhelp {
    background: rgba(255, 255, 255, 0.800);
    position: absolute;
    right: -73px;
    transform: rotate(-90deg);
    top: 40%;
  }
  #quickhelp a {
      color: #7C7C7C;
      font-weight: 600;
  }
  #quickhelp a:hover {
    color: #000;
}
  #quickhelp .help {
      padding-right: 25px;
  }
  #quickhelp .help:after {
    content: "";
    position: absolute;
    right: 10px;
    top: 3px;
    background: #7C7C7C;
    height: 16px;
    width: 1px;
  }
  /* home slider */
  .sliderContainer {
    position: relative;
    height: 100vh;
  }
  .sliderContainer .slick-slider {
    height: 100%;
  }
  .slider.video-block {
    width: 100%;
    margin: 0;
    height: 100%;
  }
  .slider.video-block .slick-slide {
    position: relative;
  }
  .slick-list {
      height: 100%;
  }
  .slick-slide {
    color: white;
    padding:0;
    font-size: 30px;
  }
  .slick-prev:before,
  .slick-next:before {
    color: black;
  }
  .slick-dots {
    bottom: -30px;
  }
  .slide-nav-wrap {
    position: absolute;
    bottom: 30px;
    max-width:320px;
    right:220px;
    display: block;
    text-align: center;
  }
  /* btn-play */
  /* .btn-grp {
    position: absolute;
    right: 30px;
    bottom: 17px;
  }
  .btn-play:after {
    content: "";
    bottom: 10px;
    right: 50px;
    height: 32px;
    width: 32px;
    position: absolute;
    background-size: 32px !important;
    background: url('/images/play-btn.png') no-repeat;
    transition: opacity 0.6s;
    -webkit-transition: opacity 0.6s;
    -moz-transition: opacity 0.6s;
  }
  .btn-play:hover:before, .play:focus:before {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
  }
  .btn-play.active {
    border-color: transparent;
  }
  .btn-play.active:after {
    content: "";
    bottom: 10px;
    right: 50px;
    height: 32px;
    width: 32px;
    position: absolute;
    background-size: 32px !important;
    background: url('/images/pause-btn.png') no-repeat;
  } */
  /* play pause */
  /* .progressBarContainer {
    position: absolute;
    bottom: 50px;
    max-width:320px;
    right:0;
    display: flex;
    text-align: center;
  } */
  .progressBarContainer div.progressLine {
    display: block;
    width: 100%;
    padding: 0;
    cursor: pointer;
    margin-right: 0;
    float: left;
    color: white;
  }
  .progressBarContainer div.progressLine:last-child {
    padding: 0 5px;
  }
  .progressBarContainer div.progressLine span.progressBar {
    width: 100%;
    height: 1px;
    margin-bottom: 5px;
    background-color: rgba(255, 255, 255, 0.4);
    display: block;
  }
  .progressBarContainer div span.progressBar .inProgress {
    
    width: 0%;
    height: 1px;
  }
  .social-foot li.list-inline-item {
      margin-right: 15px;
  }
  .social-foot li.list-inline-item:last-child {
    margin-right: 0;
}
  .slick-slider .slick-track, 
  .slick-slider .slick-list {
    height: 100%;
  }
  /* animated play button */
  .strokecircle {
    stroke: #fff;
    stroke-dasharray: 650;
    stroke-dashoffset: 650;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    opacity: 0.3;
  }
  .btn-stroke {
    display: inline-block;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
  }
  .btn-stroke .triangle {
    transition: all 0.7s ease-in-out;
    -webkit-transition: all 0.7s ease-in-out;
    stroke-dasharray: 240;
    stroke-dashoffset: 480;
    stroke: #fff;
    transform: translateY(0);
  }
  .btn-stroke:hover .triangle {
    stroke-dashoffset: 0;
    opacity: 1;
    stroke: #fff;
    animation: nudge 0.7s ease-in-out;
  }
  @keyframes nudge {
    0% {
      transform: translateX(0);
    }
    30% {
      transform: translateX(-5px);
    }
    50% {
      transform: translateX(5px);
    }
    70% {
      transform: translateX(-2px);
    }
    100% {
      transform: translateX(0);
    }
  }
  .btn-stroke:hover .strokecircle {
    stroke-dashoffset: 0;
    opacity: 1;
  }
  /* animated play button */
  /* Feel free to change duration  */ 
.animated  {
    -webkit-animation-duration : 1000 ms;
    animation-duration : 1000 ms;
    -webkit-animation-fill-mode : both;
    animation-fill-mode : both;
  }  
  /* .owl-animated-out - only for current item */ 
  /* This is very important class. Use z-index if you want move Out item above In item */ 
  .owl-animated-out {
    z-index : 1;
     }
  /* .owl-animated-in - only for upcoming item
  /* This is very important class. Use z-index if you want move In item above Out item */ 
  .owl-animated-in {
    z-index : 0;
     }
  /* .fadeOut is style taken from Animation.css and this is how it looks in owl.carousel.css:  */ 
  .fadeOut  {
    -webkit-animation-name : fadeOut;
    animation-name : fadeOut;
  }  
  @-webkit-keyframes  fadeOut  {
    0% {
      opacity : 1;
    }  
    100% {
      opacity : 0;
    }  
  }
  @keyframes  fadeOut  {
    0% {
      opacity : 1;
    }  
    100% {
      opacity : 0;
    }  
  }
  /* Feel free to change duration  */
  /* home slider */
  .web-d-none{
      display: none !important;
  }
  .stellarnav .mob-menu {
      display: none;
  }
/* tab-accordion */
#block-weather .accordion-button:focus,
.accordionContent .accordion-button:focus {
    box-shadow: none;
}
#block-weather .accordion-item,
.accordionContent .accordion-item {
    border: none;
    margin-bottom: 5px;
}
#block-weather .accordion-button:not(.collapsed)::after,
#block-weather .accordion-button::after,
.accordionContent .accordion-button:not(.collapsed)::after ,
.accordionContent .accordion-button::after {
    background-image: url('/images/down_arrow.svg') !important;
}
/* tab-accordion */
/* progress bar */
.progress {
    width: calc(100% - 6px);
    height: 5px;
    background: #e0e0e0;
    padding: 3px;
    border-radius: 3px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, .2);
}
.progress-bar-fill {
    display: block;
    height: 5px;
    background: #659cef;
    border-radius: 3px;
    /*transition: width 250ms ease-in-out;*/
    transition: width 5s ease-in-out;
}
.slider.progressBarContainer .slick-slide.slick-current.slick-active .progressLine .progressBar .inProgress {
    width: 100% !important;
}
.slick-slide.slick-current.slick-active .progressLine h6 {
    color: #fff;
}
.slick-slide .progressLine h6 {
    color: #d4d4d4;
}
/* play-btn-group */
.play-btn-group {
    position: absolute;
    right: 30px;
    bottom: 21px;
}
.play-btn-group i {
    font-size: 22px;
    border-radius: 30px;
    border: 2px solid #a2aca3;
    padding: 8px;
}

.play-btn-group .btn-pause i {
    color: #fff;
}
.show {
    display: block;
}
.hide {
    display: none;
}
/* play-btn-group */
.descwrap {
    padding-left: 15px;
}
.descwrap:before {
    content: "";
    background: #a8b6a5;
    left: 0;
    top: 7px;
    width: 1px;
    position: absolute;
    height: 144px;
}
/* progress bar */
.slider.video-block .slick-slide section,
.slider.video-block .slider_item {
    height: 100vh;
}
/* big-screen */
/* innerPage */
.innerPage #header {
    top: 0;
    position: absolute;
    background: transparent;
    
}
.innerPage #header.menu_fixed {
    position: absolute;
    top: 0;
}
.innerPage #header .navbar-expand-lg .navbar-nav .nav-link,
.innerPage #header .cartbtn,
.innerPage #header .searchBtn .text-white,
.innerPage #header .select-down {
    color: #000 !important;
    font-weight: bold;
}   
.innerPage #header .navbar-expand-lg .navbar-nav .nav-link:hover, 
.innerPage #header .cartbtn:hover, 
.innerPage #header .searchBtn .text-white:hover, 
.innerPage #header .select-down:hover,
.lang-block-dark #langLabel:hover {
    color: #f1c40f !important;
}
#header .navbar-expand-lg .navbar-nav .nav-link,
#header .cartbtn,
#header .searchBtn .text-white,
#header .select-down {
    font-weight: bold;
}   
.innerPage #header .navbar {
    padding-top: 1rem;
    padding-bottom: 1rem;
} 
#banner {
    margin-top: 0;
}
#banner img,
#banner video {
    height: 100%;
}
.border-left {
    border-left: var(--border-left);
}
.pl-3 {
    padding-left: var(--pl-3)
}
.social-group li a {
    font-size: 22px;
}
.custom-head .list-group-horizontal > .list-group-item:first-child:after {
    content: "";
    width: 1px;
    height: 20px;
    right: 0;
    top: 10px;
    position: absolute;
    background: #a2aca3;
}
.mapBlock {
    height: 450px;
}
.mapBlock iframe {
    height: 100%;
    width: 100%;
}
.line-1 {
    display: -webkit-box;
    -webkit-line-clamp: 1 !important;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.line-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2 !important;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.line-3 {
    display: -webkit-box;
    -webkit-line-clamp: 3 !important;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.skewed-bg {
    margin-bottom: 60px;
}
.img-hover {
    position: relative;
    padding: 0;
    overflow: hidden;
}
.img-hover:hover img {
    transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
}
/* innerPage */
.img_block_text {
    left: 30px;
    bottom: 30px;
}
.list_section {
    padding: 100px 0;
}
/* .page-content {
    padding-right: var(--pr-5);
} */
.nav_pills_list .nav-pills .nav-item {
    margin-right: 30px;
}
#sticky_menu.menu_fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    right: 0;
    z-index: 1050;
    margin: 0 auto;
    justify-content: center;
    background: #fff;
    margin-bottom: 0 !important;
    padding-top: 18px;
}
#sticky_menu .dropdown-menu {
    box-shadow: var(--box-shadow);
}
#sticky_menu .dropdown-menu .dropdown-item {
    border-bottom: 1px solid #e8e8e8;
    padding: 10px 0;
}
#sticky_menu .dropdown-menu .dropdown-item:hover {
    background: none;
    color: #f1c40f;
}
#sticky_menu .dropdown-menu .dropdown-item:last-of-type {
    border-bottom: none;
}
#sticky_menu .nav-pills {
    justify-content: center;
}
.drop_more_btn {
    position: relative;
    top: -7px;
}
.weather_list_grp {
    justify-content: end;
}
/* .drop_more_btn.dropdown-toggle::after {
    position: absolute;
    content: "";
    right: 0;
    left: 0;
    width: 32px;
    bottom: -20px;
    border: none !important;
    background-size: 12px !important;
    margin: 0 auto;
    background: url(/images/icondown.png) no-repeat;
    height: 32px;
    background-position: center;
} */
.banner_text_block {
    bottom: 120px;
    position: absolute;
}
.skewed-bg .content {
    justify-content: center;
    align-items: center;
}
.text_latest_update {
    position: absolute;
}
.text_latest_update .container {
    max-width: 567px;
}
/* social share */
.sbutton {
   color: #FFF;
   display: inline-block;
   padding: 0;
   position: relative;
   }
   .sbutton:hover {
     cursor: pointer;
   }
   .smenu {
     background: #fff;
     border: none;
     border-radius: 3px;
     left: 0;
     margin: 0;
     opacity: 0;
     padding: 0;
     position: absolute;
     top: 0px;
     z-index: 99;
     -webkit-transition: opacity 0.2s ease-in-out, top 0.2s ease-in-out;
     -moz-transition: opacity 0.2s ease-in-out, top 0.2s ease-in-out;
     transition: opacity 0.2s ease-in-out, top 0.2s ease-in-out;
   }
   
   .smenu:after {
   background-color: #FFF;
   border-top: 1px solid #CCC;
   border-left: 1px solid #CCC;
   top: -7px;
   content: '';
   display: inline-block;
   height: 10px;
   left: 50px;
   position: absolute;
   width: 10px;
   -webkit-transform: rotate(45deg);
   -moz-transform: rotate(45deg);
   -ms-transform: rotate(45deg);
   transform: rotate(45deg);
   display: none;
   }
   
   .smenu li {
    border: 1px solid #ccc;
    list-style-type: none;
    margin: 5px 0;
    line-height: 46px;
    width: 46px;
    height: 46px;
    border-radius: 46px;
   }
   
   .smenu li:hover {
     background-color: #fafafa;
   }
   
   .smenu .facebook:hover {
   background-color: #4C66A4;
   color: #FFF !important;
   }
   
   .smenu .twitter:hover {
   background-color: #019AD2;
   color: #FFF !important;
   }
   
   .smenu .pinterest:hover {
   background-color: #b7081b;
   color: #FFF !important;
   }
   
   .smenu li:last-child {
     border-bottom: none;
   }
   
   .smenu li a {
     color: #3e3e3e;
     font-size:26px;
     text-decoration: none;
   }
   
   .smenu li:hover a {
     color:#fff !important;
   }
   
   .smenu.share {
     opacity: 1;
     top: 65px;
     left: 0;
   }
   .sbutton img {
       width: 46px;
   }
/* social share */
/* fav_block */
.fav_block:before,
.fav_block:after {
    content: "";
    position: absolute;
    width: 60px;
    height: 1px;
    left: 0;
    right: 0;
    margin: 0 auto;
    background: #ccc;
}
.fav_block:before {
    top: 0;
}
.fav_block:after {
    bottom: 0;
}
.icon_common_block .icon_common {
    font-size: 46px;
    color: #222;
}
/* fav_block */
/* weatherForecast */
.weather_widget {
    height: 215px;
    border-top: 2px solid #ffcb0d;
    border-bottom: 2px solid #ffcb0d;
}
.weather_widget .weatherwidget-io {
    height: 215px;
}
/* weatherForecast */
/* results_found */
.results_found {
    justify-content: end;
    align-items: flex-end;
}
.results_found span{
    margin-right: var(--mr-1);
}
/* results_found */
.mr-1{
    margin-right: 0.25rem !important;
}
.mr-2{
    margin-right: 0.5rem !important;
}
.mr-3{
    margin-right: 1rem !important;
}
.mr-4{
    margin-right: 1.5rem !important;
}
.mr-5{
    margin-right: 3rem !important;
}
/* travel-info */
.content_info {
    display: flex;
    align-items: flex-start;
    justify-content: start;
}
.content_info p {
    display: block;
}
  /* travel-info */
  /* #sticky_sidebar {
    top: 0;
    position: sticky;
    position: -webkit-sticky;
  } */
 /* touroperator filter */
 .top_filter_menu,
 .top_filter_item {
     list-style: none;
     padding: 0;
 }
.top_filter_menu {
    margin-bottom: 0;
}
.top_filter_menu li{
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
    position: relative;
}
.top_filter_menu li:hover,
.top_filter_menu li.current{
    background: transparent;
}
.top_filter_item li{
    width: 50%;
    padding: 5px;
    float: left;
    position: relative;
    margin-bottom: 10px;
}
.top_filter_item li.active{
    width: 50%;
    padding: 5px;
    transition: all 0.5s ease;
}
.top_filter_item li.delete{
    width: 0%;
    padding: 0;
    transition: all 0.5s ease;
}
.top_filter_item img{
    display: block;
    width: 100%;
    height: 100%;
}
.top_filter_menu li:before {
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    left: 0;
    top: 19px;
}
.top_filter_item li:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    width: 30px;
    height: 40px;
    clip-path: polygon(100% 0, 100% 100%, 50% 50%, 0 100%, 0 0, 50% 0);
}
@media screen and (min-width: 768px){
    .top_filter_item li.active,
    .top_filter_item li{
        width: 33.33%;
    }
}
@media screen and (min-width: 1280px){
    .top_filter_item li.active,
    .top_filter_item li{
        width: 33.33%;
    }
}
 /* touroperator filter */
 /* site_pagination */
.site_pagination {
    justify-content: center;
    align-items: center;
}
.site_pagination .page-item {
    margin: 0 3px;
}
.site_pagination .page-item .page-link,
.site_pagination .page-item:first-child .page-link,
.site_pagination .page-item:last-child .page-link {
    border-radius: 50%;
    border: none;
}
 /* site_pagination */
 /* ============ desktop view ============ */
 /* .travel-info li.dropdown:hover .dropdown-menu {
      display: block; 
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
} */
.navbar-nav>li>.dropdown-menu {
    margin-top: 30px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .mega-dropdown {
    position: static !important;
  }
  
  .mega-dropdown-menu {
    padding: 20px 0px;
    width: 100%;
    box-shadow: none;
    -webkit-box-shadow: none;
  }
  
  .mega-dropdown-menu:before {
    content: "";
    border-bottom: 17px solid #fff;
    border-right: 19px solid transparent;
    border-left: 19px solid transparent;
    position: absolute;
    top: -17px;
    left: 50%;
    z-index: 10;
  }
  
  .mega-dropdown-menu:after {
    content: "";
    border-bottom: 17px solid #ccc;
    border-right: 19px solid transparent;
    border-left: 19px solid transparent;
    position: absolute;
    top: -18px;
    left: 50%;
    z-index: 8;
  }
  
  .mega-dropdown-menu > li > ul {
    padding: 0;
    margin: 0;
  }
  
  .mega-dropdown-menu > li > ul > li {
    list-style: none;
  }
  
  .js-navbar-collapse .navbar-nav {
    flex-direction: row;
    justify-content: center;
  }
  .dropdown-menu.mega-dropdown-menu {
    position: absolute !important;
    left: 0;
  }
  .dropdown.mega-dropdown .dropdown-toggle {
      padding-right: 12px;
      margin-right: 12px;
  }
  .dropdown.mega-dropdown .dropdown-toggle::after {
    content: "";
    background: #000;
    height: 15px;
    width: 1px;
    right: 0;
    top: 5px;
    border: none;
    position: absolute;
  }
  .dropdown.mega-dropdown:last-of-type .dropdown-toggle::after {
    display: none;
  }
  .dropdown.mega-dropdown.show .dropdown-toggle {
    color: #f1c40f !important; 
  }
  /* video_iframe */
  .video_iframe iframe {
      width: 100%;
      object-fit: cover;
  }
  /*  video_iframe*/
/* ============ desktop view .end// ============ */
.list_head {
    margin-bottom: 20px;
}
.side_list_menu li {
    list-style: none;
    margin-bottom: 12px;
}
.side_list_menu li ul li {
    position: relative;
    padding-left: 22px;
}
.side_list_menu li:last-child {
    margin-bottom: 0;
}
#spotlight .modal-dialog.modal-fullscreen {
    padding: 50px;
}
.modal.full_screen_modal {
    padding-right: 0 !important;
}
.border-right {
    border-right: 1px solid #eaeaea;
}
#spotlight .modal-dialog.modal-fullscreen::before {
    content: "";
    position: absolute;
    background: rgba(0, 0, 0, 0.700);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}
/* material ui select */
.select {
      position: relative;
      width: 100%;
      font-family: 'IBM Plex Sans', sans-serif;
  }
  .select-text {
    position: relative;
    font-family: inherit;
    background-color: transparent;
    width: 100%;
    padding: 0 10px 10px 0;
    font-size: 16px;
    border-radius: 0;
    color: #000;
    border: none;
    font-weight: 600;
    border-bottom: 1px solid rgba(0,0,0, 0.12);
  }
  /* Remove focus */
  .select-text:focus {
      outline: none;
      border-bottom: 1px solid rgba(0,0,0, 0);
  }
    /* Use custom arrow */
  .select .select-text {
      appearance: none;
      -webkit-appearance:none
  }
  .select:after {
      position: absolute;
      bottom: 8px;
      right: 10px;
      /* Styling the down arrow */
      width: 0;
      height: 0;
      padding: 0;
      content: '';
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-top: 6px solid rgba(0, 0, 0, 0.12);
      pointer-events: none;
  }
  
  
  /* LABEL ======================================= */
  .select-label {
      color: rgba(0,0,0, 0.26);
      font-size: 16px;
      font-weight: normal;
      position: absolute;
      pointer-events: none;
      left: 0;
      bottom: 3px;
      transition: 0.2s ease all;
  }
  
  /* active state */
  .select-text:focus ~ .select-label, .select-text:valid ~ .select-label {
      color: #ffcb0d;
      bottom: 35px;
      transition: 0.2s ease all;
      font-size: 14px;
  }
  
  /* BOTTOM BARS ================================= */
  .select-bar {
      position: relative;
      display: block;
      width: 100%;
  }
  
  .select-bar:before, .select-bar:after {
      content: '';
      height: 1px;
      width: 0;
      bottom: 1px;
      position: absolute;
      transition: 0.2s ease all;
  }
  
  .select-bar:before {
      left: 50%;
  }
  .select-bar:after {
      right: 50%;
  }
  /* active state */
  .select-text:focus ~ .select-bar:before, 
  .select-text:focus ~ .select-bar:after {
      width: 50%;
  }
  .select-highlight {
      position: absolute;
      height: 30%;
      width: 100px;
      bottom: 3px;
      left: 0;
      pointer-events: none;
      opacity: 0.5;
  }
  .side_list_menu li ul li a:hover i {
      padding-left: 3px;
  }
  .side_list_menu li ul li a i {
      padding-right: 5px;
      position: absolute;
      top: 1px;
      left: 0;
  }
  .destination_map {
      height: 100%;
  }
  .destination_map iframe {
      width: 100%;
      height: 100%;
  }
  .side_list_menu li.list_head {
      padding-left: 0;
    }
  .modal_header_text {
      display: flex;
      align-items: center;
      justify-content: space-between;
  }
  .modal-fullscreen .modal-body {
      overflow-x: hidden;
  }
  .modal-fullscreen .modal-footer {
      justify-content: center;
      align-items: center;
  }
  .modal-fullscreen .modal-footer .close-btn:hover {
    color: #f1c40f;
  }
/* material ui select */
/* scrollspy */
#sticky_sidebar {
    will-change: min-height;
}
#sticky_sidebar .sidebar__inner{
    position: relative;
    transform: translate(0, 0);
    transform: translate3d(0, 0, 0);
    will-change: position, transform;
}
#sticky_sidebar.is-affixed .sidebar__inner {
    transform: translate3d(0px, 70px, 0);
}
.userway_dark.custom-icon-class {
    left: 60px!important;
}
body .uwy.userway_p1 #userwayAccessibilityIcon.uai.custom-icon-class {
    top: auto !important;
    right: auto !important;
    left: 77px !important;
    bottom: 26px !important;
    background: #ffc900 !important;
}

body .userway-widget-container.userway_overflow .userway-menu-app {
    left: 0 !important;
    right: auto !important;
    position: absolute !important;
}
.tour-guide {
    border: 0.3rem solid rgba(#fff, 0.3);
    margin-top: -6rem;
    margin-bottom: 1rem;
    max-width: 9rem;
}
/* scrollspy */

/* areaAccordion */
#areaAccordion .accordion-item .form-check-label {
    display: block;
    font-weight: 600;
}
#areaAccordion .accordion-item .form-check-input {
    margin: 5px 5px 8px 0;
}
#areaAccordion .accordion-item {
    border: none !important;
}
#areaAccordion .accordion-button:not(.collapsed),
#areaAccordion .accordion-button {
    background: none !important;
    box-shadow: none !important;
    padding-left: 0;
    padding-right: 0;
}
.hidden {
	display: none;
}
#list ul {
    padding: 0;
    margin: 0;
}
#list ul li {
    padding: 5px 18px 5px 5px;
    margin: 2px;
    position: relative;
    list-style: none;
    color: #222;
    display: inline-block;
}
.close_btn {
    position: absolute;
    right: 2px;
    top: 0;
    font-weight: 800 !important;
    font-size: 14px;
    cursor: pointer;
}
#areaAccordion .form-check-input:checked {
    background-color: #ffc900;
    border-color: #ffc900;
}
/* areaAccordion */